{% extends 'base.html.twig' %}

{% block title %}FAQ de l'environnement{% endblock %}

{% block body %}

<div class="home-content">
    <h1 class="home-title"><span class="hollow">FAQ</span> de l'environnement</h1>
    <p class="home-subtitle">La plateforme des <span class="bold">informations claires et vérifiées</span> sur l'environnement. <br>Retrouvez les réponses aux questions communes sur l'environnement en parcourant les <span class="bold">liens de l'en tête</span>.</p>
</div>
{% endblock %}
