{% extends 'base.html.twig' %}

{% block title %}FAQ de l'environnement{% endblock %}

{% block body %}

<div class="home-content">
    <h1 class="home-title"><span class="hollow home-title-bigger-part">FAQ</span> de l'environnement </h1>
    <p class="home-subtitle">La plateforme des <span class="bold">informations claires et vérifiées
        </span> sur l'environnement.  <img class="emoji check-emoji" height="25" width="25" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/check-mark-button_2705.png" alt="emoji vérifié"><br><span class="home-subtitle-spacing"></span>Retrouvez les réponses aux questions communes sur l'environnement en parcourant les <span class="bold">liens de l'en tête</span>.
        <img class="emoji" height="30" width="30" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/index-pointing-up_261d-fe0f.png" alt="emoji index vers le haut"></p>
</div>
{% endblock %}
